# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Store filepath in a variable
file_one = "../output_data/cities.csv"
weather_df = pd.read_csv(file_one)
weather_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Bredasdorp,0,ZA,1584196146,53,-34.53,20.04,77.00,17.22
1,Talaya,100,RU,1584196146,99,61.38,152.75,-11.11,5.66
2,Dandong,61,CN,1584196146,50,40.13,124.39,36.41,3.49
3,Punta Arenas,75,CL,1584196147,81,-53.15,-70.92,51.80,9.17
4,Airai,58,TL,1584196147,95,-8.93,125.41,66.83,1.43

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = weather_df[["Lat", "Lng"]]

# Store humidity values
humidity = weather_df["Humidity"]

In [4]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=3)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

A max temperature lower than 80 degrees but higher than 70.


Wind speed less than 10 mph.


Zero cloudiness.

In [5]:
ideal_weather_df = weather_df.loc[(weather_df["Max Temp"] >= 70) & 
                                  (weather_df["Max Temp"] <= 80) & 
                                  (weather_df["Wind Speed"] <= 10) & 
                                  (weather_df["Cloudiness"] == 0)
                                  , :]

ideal_weather_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
44,Port Alfred,0,ZA,1584196152,85,-33.59,26.89,71.01,5.01
100,Bānda,0,IN,1584196280,25,25.48,80.33,76.19,7.65
220,Morwa,0,IN,1584196417,15,22.90,73.83,72.23,4.05
476,Bandar,0,ID,1584196813,94,2.05,99.75,75.65,2.30
485,Jalu,0,LY,1584196814,21,29.03,21.55,76.73,8.95
505,Awjilah,0,LY,1584196817,21,29.11,21.29,76.73,8.95
513,Vila,0,PT,1584196878,48,42.03,-8.16,70.00,3.33
554,Surat,0,IN,1584196884,41,21.17,72.83,78.80,6.93

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = ideal_weather_df
hotel_df['Hotel Name'] = ""
hotel_df

/Users/beastmode/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
44,Port Alfred,0,ZA,1584196152,85,-33.59,26.89,71.01,5.01,
100,Bānda,0,IN,1584196280,25,25.48,80.33,76.19,7.65,
220,Morwa,0,IN,1584196417,15,22.90,73.83,72.23,4.05,
476,Bandar,0,ID,1584196813,94,2.05,99.75,75.65,2.30,
485,Jalu,0,LY,1584196814,21,29.03,21.55,76.73,8.95,
505,Awjilah,0,LY,1584196817,21,29.11,21.29,76.73,8.95,
513,Vila,0,PT,1584196878,48,42.03,-8.16,70.00,3.33,
554,Surat,0,IN,1584196884,41,21.17,72.83,78.80,6.93,

In [7]:
# Find the closest hotel of each city coordinates

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location": "latitude,longitude",  
    "rankby": "distance",
    "type": "hotel",
    "key": g_key,
}
# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():

    # get lat/lng data from hotel_df
    lat = row['Lat']
    lng = row['Lng']

    # add location to params dict
    params['location'] = f'{lat},{lng}'

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}.")
    response = requests.get(base_url, params=params).json()

    # extract results
    results = response['results']

    try:
        print(f"Closest hotel is {results[0]['name']}.")
        
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']

    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 44.
Closest hotel is Kowie Museum.
------------
Retrieving Results for Index 100.

/Users/beastmode/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Closest hotel is Indira Rajan Bal Niketan Preparatory School.
------------
Retrieving Results for Index 220.
Closest hotel is Jay Ambe Mobile And Electronic.
------------
Retrieving Results for Index 476.
Closest hotel is Madrasah Tsanawiyah Al - Anshor.
------------
Retrieving Results for Index 485.
Closest hotel is Jalo Old Hospital.
------------
Retrieving Results for Index 505.
Closest hotel is Abu Attaf Health Center.
------------
Retrieving Results for Index 513.
Closest hotel is Hotel Castrum Villae.
------------
Retrieving Results for Index 554.
Closest hotel is shree r d ghayal bharti madhyamik vidhyalay.
------------

In [8]:
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
44,Port Alfred,0,ZA,1584196152,85,-33.59,26.89,71.01,5.01,Kowie Museum
100,Bānda,0,IN,1584196280,25,25.48,80.33,76.19,7.65,Indira Rajan Bal Niketan Preparatory School
220,Morwa,0,IN,1584196417,15,22.90,73.83,72.23,4.05,Jay Ambe Mobile And Electronic
476,Bandar,0,ID,1584196813,94,2.05,99.75,75.65,2.30,Madrasah Tsanawiyah Al - Anshor
485,Jalu,0,LY,1584196814,21,29.03,21.55,76.73,8.95,Jalo Old Hospital
505,Awjilah,0,LY,1584196817,21,29.11,21.29,76.73,8.95,Abu Attaf Health Center
513,Vila,0,PT,1584196878,48,42.03,-8.16,70.00,3.33,Hotel Castrum Villae
554,Surat,0,IN,1584196884,41,21.17,72.83,78.80,6.93,shree r d ghayal bharti madhyamik vidhyalay

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Add marker layer ontop of heat map
# Assign the marker layer to a variable
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
# Add the layer to the map
fig.add_layer(markers)
fig

# Display Map

Figure(layout=FigureLayout(height='420px'))